# Grill and BBQ Data Cleaning

## Setup

In [1]:
import numpy as np
import pandas as pd
import re

In [2]:
# visualization
import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('seaborn')

In [3]:
# for lemmatimzation
import spacy

## Read in Data

In [4]:
# Read in the data
df = pd.read_csv('unzipped_data/grill-and-bbq.csv', sep = '|')
print("Shape of DataFrame", df.shape)
df.head()

Shape of DataFrame (288456, 5)

,PAGE,URL,COUNT,AMOUNT,INGREDIENT
0,1,https://www.bigoven.com/recipe/chicken-breasts...,8,2 tablespoons,canola oil
1,1,https://www.bigoven.com/recipe/chicken-breasts...,8,1/2 large,onion
2,1,https://www.bigoven.com/recipe/chicken-breasts...,8,6,pineapple
3,1,https://www.bigoven.com/recipe/chicken-breasts...,8,,pepper
4,1,https://www.bigoven.com/recipe/chicken-breasts...,8,1 1/2 cup,tomatillo

## Clean Data: General

### Drop metadata

'PAGE' and 'COUNT' are not needed for the analysis.

In [5]:
df.drop(['PAGE', 'COUNT'], axis = 1, inplace = True)
df.head()

,URL,AMOUNT,INGREDIENT
0,https://www.bigoven.com/recipe/chicken-breasts...,2 tablespoons,canola oil
1,https://www.bigoven.com/recipe/chicken-breasts...,1/2 large,onion
2,https://www.bigoven.com/recipe/chicken-breasts...,6,pineapple
3,https://www.bigoven.com/recipe/chicken-breasts...,,pepper
4,https://www.bigoven.com/recipe/chicken-breasts...,1 1/2 cup,tomatillo

### Fix error in header

### Remove duplicates

In [6]:
print("shape of DataFrame before de-dup:", df.shape)
print("Number of duplicates:",sum(df.duplicated()))

shape of DataFrame before de-dup: (288456, 3)
Number of duplicates: 276769

In [7]:
# Remove duplicates
df = df.drop_duplicates()

print("shape of DataFrame after de-dup:", df.shape)

shape of DataFrame after de-dup: (11687, 3)

### Make all in lower case

In [8]:
for item in ['AMOUNT', 'INGREDIENT']: 
    df[item] = df[item].apply(lambda x: x.lower().strip())

## Look at 'URL' Column

### Create a column with dish id

In [9]:
# Write a function to get the dish id from URL
def get_dish_id(url): 
    dish_id = re.findall('\S*/([0-9]+)$', url)[0]
    return dish_id

In [10]:
# apply the function to the DataFrame
df['dish_id'] = df['URL'].apply(get_dish_id)
df.head()

,URL,AMOUNT,INGREDIENT,dish_id
0,https://www.bigoven.com/recipe/chicken-breasts...,2 tablespoons,canola oil,561575
1,https://www.bigoven.com/recipe/chicken-breasts...,1/2 large,onion,561575
2,https://www.bigoven.com/recipe/chicken-breasts...,6,pineapple,561575
3,https://www.bigoven.com/recipe/chicken-breasts...,,pepper,561575
4,https://www.bigoven.com/recipe/chicken-breasts...,1 1/2 cup,tomatillo,561575

### Create a column with dish name

In [11]:
# Write a function to get the dish name from URL
def get_dish_name(url): 
    dish_name = re.findall('\S*recipe/(\S*)/.*', url)[0]
    dish_name = re.sub('-', ' ', dish_name)
    return dish_name

In [12]:
df['dish_name'] = df['URL'].apply(get_dish_name)
df.head()

,URL,AMOUNT,INGREDIENT,dish_id,dish_name
0,https://www.bigoven.com/recipe/chicken-breasts...,2 tablespoons,canola oil,561575,chicken breasts with grilled pineapple and tom...
1,https://www.bigoven.com/recipe/chicken-breasts...,1/2 large,onion,561575,chicken breasts with grilled pineapple and tom...
2,https://www.bigoven.com/recipe/chicken-breasts...,6,pineapple,561575,chicken breasts with grilled pineapple and tom...
3,https://www.bigoven.com/recipe/chicken-breasts...,,pepper,561575,chicken breasts with grilled pineapple and tom...
4,https://www.bigoven.com/recipe/chicken-breasts...,1 1/2 cup,tomatillo,561575,chicken breasts with grilled pineapple and tom...

In [13]:
# Check top 5 dishes
df['dish_name'].value_counts()[:5]

korean bulgogi bbq beef tacos                                                48
grilled pork tenderloin                                                      43
grilled steak tacos with cilantro chimichurri sauce                          38
grilled steak salad caesar style                                             34
smokehouse pulled pork with memphis style barbecue sauce and classic slaw    34
Name: dish_name, dtype: int64

## Clean Columns

In [14]:
# since we got all information, remove URL column
df.drop('URL', axis = 1, inplace = True)
df.head()

,AMOUNT,INGREDIENT,dish_id,dish_name
0,2 tablespoons,canola oil,561575,chicken breasts with grilled pineapple and tom...
1,1/2 large,onion,561575,chicken breasts with grilled pineapple and tom...
2,6,pineapple,561575,chicken breasts with grilled pineapple and tom...
3,,pepper,561575,chicken breasts with grilled pineapple and tom...
4,1 1/2 cup,tomatillo,561575,chicken breasts with grilled pineapple and tom...

### Rearrange columns

In [15]:
# check all columns
df.columns

Index(['AMOUNT', 'INGREDIENT', 'dish_id', 'dish_name'], dtype='object')

In [16]:
# rearrange columns
df = df[['dish_id', 'dish_name', 'INGREDIENT', 'AMOUNT']]
df.head()

,dish_id,dish_name,INGREDIENT,AMOUNT
0,561575,chicken breasts with grilled pineapple and tom...,canola oil,2 tablespoons
1,561575,chicken breasts with grilled pineapple and tom...,onion,1/2 large
2,561575,chicken breasts with grilled pineapple and tom...,pineapple,6
3,561575,chicken breasts with grilled pineapple and tom...,pepper,
4,561575,chicken breasts with grilled pineapple and tom...,tomatillo,1 1/2 cup

## Inspect all records for 'grilled steak tacos with cilantro chimichurri sauce' to figure out the way to clean further

In [17]:
grilled_steak_tacos = df[df['dish_name'] == 'grilled steak tacos with cilantro chimichurri sauce']

In [18]:
grilled_steak_tacos

,dish_id,dish_name,INGREDIENT,AMOUNT
120202,1193837,grilled steak tacos with cilantro chimichurri ...,marinade,
120203,1193837,grilled steak tacos with cilantro chimichurri ...,steak,2 lbs
120204,1193837,grilled steak tacos with cilantro chimichurri ...,onion,1 sliced
120205,1193837,grilled steak tacos with cilantro chimichurri ...,orange,
120206,1193837,grilled steak tacos with cilantro chimichurri ...,lime,
120207,1193837,grilled steak tacos with cilantro chimichurri ...,soy sauce,1/3
120208,1193837,grilled steak tacos with cilantro chimichurri ...,olive oil,1/3
120209,1193837,grilled steak tacos with cilantro chimichurri ...,sugar,1/2 tsp
120210,1193837,grilled steak tacos with cilantro chimichurri ...,garlic,"4 smashed,"
120211,1193837,grilled steak tacos with cilantro chimichurri ...,cilantro,1/2 c
120212,1193837,grilled steak tacos with cilantro chimichurri ...,onion,
120213,1193837,grilled steak tacos with cilantro chimichurri ...,cumin,
120214,1193837,grilled steak tacos with cilantro chimichurri ...,cilantro,---
120215,1193837,grilled steak tacos with cilantro chimichurri ...,cilantro,
120216,1193837,grilled steak tacos with cilantro chimichurri ...,italian parsley,1 bunch
120217,1193837,grilled steak tacos with cilantro chimichurri ...,lime juice,1 bunch
120218,1193837,grilled steak tacos with cilantro chimichurri ...,olive oil,1/4 c
120219,1193837,grilled steak tacos with cilantro chimichurri ...,onion,1/2 c
120220,1193837,grilled steak tacos with cilantro chimichurri ...,garlic,1/4 c
120221,1193837,grilled steak tacos with cilantro chimichurri ...,cumin,2
120222,1193837,grilled steak tacos with cilantro chimichurri ...,coriander,
120223,1193837,grilled steak tacos with cilantro chimichurri ...,kosher,
120224,1193837,grilled steak tacos with cilantro chimichurri ...,pepper,
120225,1193837,grilled steak tacos with cilantro chimichurri ...,tomatoes,
120226,1193837,grilled steak tacos with cilantro chimichurri ...,red onion,---
120228,1193837,grilled steak tacos with cilantro chimichurri ...,chili,4 vine-ripe
120229,1193837,grilled steak tacos with cilantro chimichurri ...,cilantro,1/2 medium
120230,1193837,grilled steak tacos with cilantro chimichurri ...,garlic,2 green
120231,1193837,grilled steak tacos with cilantro chimichurri ...,olive oil,1 serrano
120232,1193837,grilled steak tacos with cilantro chimichurri ...,kosher salt,1 handful
120233,1193837,grilled steak tacos with cilantro chimichurri ...,radish,3
120234,1193837,grilled steak tacos with cilantro chimichurri ...,vinegar,"1 1/2 limes,"
120235,1193837,grilled steak tacos with cilantro chimichurri ...,kosher salt,1/4 cup
120236,1193837,grilled steak tacos with cilantro chimichurri ...,sugar,1 teaspoon
120237,1193837,grilled steak tacos with cilantro chimichurri ...,peppercorn,---
120238,1193837,grilled steak tacos with cilantro chimichurri ...,cilantro,
120239,1193837,grilled steak tacos with cilantro chimichurri ...,tortilla,2 c
120240,1193837,grilled steak tacos with cilantro chimichurri ...,lime,1 c

## Look at 'amt' Column

### What kind of ingredients are missing amounts?

In [19]:
# How many?
missing_amt = df[df['AMOUNT'] == '']
missing_amt.shape

(1287, 4)

In [20]:
# Check a few example
missing_amt.head()

,dish_id,dish_name,INGREDIENT,AMOUNT
3,561575,chicken breasts with grilled pineapple and tom...,pepper,
31,860272,grilled chicken with pineapple salsa,olive oil,
32,860272,grilled chicken with pineapple salsa,pepper,
33,860272,grilled chicken with pineapple salsa,salt,
39,860272,grilled chicken with pineapple salsa,cilantro,

In [21]:
# Check the ingredients
missing_amt['INGREDIENT'].value_counts()

pepper                  105
black pepper             68
salt                     63
olive oil                45
garlic                   44
lemon                    43
kosher salt              38
cooking spray            31
onion                    26
chicken                  26
lime                     25
cilantro                 24
ground pepper            23
vegetable oil            22
chicken breast           18
tomatoes                 14
sugar                    14
brown sugar              13
spice                    13
cayenne                  13
bbq                      12
mustard                  12
paprika                  11
honey                    11
marinade                 11
sesame seeds             11
parsley                  11
pork                     11
worcestershire sauce     11
cider vinegar            10
                       ...
eggs                      1
rotini                    1
chocolate                 1
nectarine                 1
milk                      1
tahini                    1
parmesan                  1
tarragon                  1
soup                      1
italian parsley           1
celery seed               1
sodium                    1
catsup                    1
black beans               1
yeast                     1
zucchini                  1
mozzarella                1
radicchio                 1
grapefruit                1
white wine                1
bouillon                  1
allspice                  1
sausage                   1
cornstarch                1
yellow bell pepper        1
yoghurt                   1
egg                       1
swiss cheese              1
almond                    1
aubergine                 1
Name: INGREDIENT, dtype: int64

### Divide it by amount and unit

In [22]:
# How many different values? 
df['AMOUNT'].value_counts().shape

(1289,)

In [23]:
# First strip whitespace
df['AMOUNT'] = df['AMOUNT'].apply(lambda x: x.strip())

In [24]:
# How many different values? 
df['AMOUNT'].value_counts().shape

(1289,)

In [25]:
# Check top 20 values
df['AMOUNT'].value_counts()[:20]

                 1287
1 tablespoon      636
1/4 cup           535
2 tablespoons     497
1 teaspoon        484
1/2 cup           424
1/2 teaspoon      399
1                 370
1 cup             292
2                 248
1/4 teaspoon      231
2 teaspoons       211
3 tablespoons     174
4                 159
1/3 cup           129
2 tb              121
1 tb              108
1 tsp             103
2 cups            100
1 ts               93
Name: AMOUNT, dtype: int64

In [26]:
def get_amt(amt_str):
    """This function takes numeric amount from the amount string"""
    if len(amt_str) == 0:
        return ''
    elif len(re.findall('[^a-z]+', amt_str)) == 0: 
        return ''
    else: 
        return re.findall('[^a-z]+', amt_str)[0].strip()

In [27]:
df['amt_num'] = df['AMOUNT'].apply(get_amt)
df.head()

,dish_id,dish_name,INGREDIENT,AMOUNT,amt_num
0,561575,chicken breasts with grilled pineapple and tom...,canola oil,2 tablespoons,2
1,561575,chicken breasts with grilled pineapple and tom...,onion,1/2 large,1/2
2,561575,chicken breasts with grilled pineapple and tom...,pineapple,6,6
3,561575,chicken breasts with grilled pineapple and tom...,pepper,,
4,561575,chicken breasts with grilled pineapple and tom...,tomatillo,1 1/2 cup,1 1/2

In [28]:
def get_unit(amt_str):
    """This function takes unit from the amount string"""
    if len(amt_str) == 0:
        return ''
    elif len(re.findall('[A-Za-z]+', amt_str)) == 0: 
        return ''
    else: 
        return re.findall('[A-Za-z]+', amt_str)[0].strip()

In [29]:
df['unit'] = df['AMOUNT'].apply(get_unit)
df.head()

,dish_id,dish_name,INGREDIENT,AMOUNT,amt_num,unit
0,561575,chicken breasts with grilled pineapple and tom...,canola oil,2 tablespoons,2,tablespoons
1,561575,chicken breasts with grilled pineapple and tom...,onion,1/2 large,1/2,large
2,561575,chicken breasts with grilled pineapple and tom...,pineapple,6,6,
3,561575,chicken breasts with grilled pineapple and tom...,pepper,,,
4,561575,chicken breasts with grilled pineapple and tom...,tomatillo,1 1/2 cup,1 1/2,cup

In [30]:
# unit
print("Unit: {}".format(df['unit'].value_counts().shape))
print("\nValues:\n{}".format(df['unit'].value_counts()))

Unit: (276,)

Values:
               2479
cup            1596
teaspoon       1282
tablespoons     838
tablespoon      774
teaspoons       387
tb              324
tsp             308
ts              287
c               279
tbsp            275
cups            257
pound           179
large           174
pounds          166
cloves          163
lb              145
oz              134
medium          129
small            98
clove            79
ounces           69
ounce            66
whole            61
lbs              52
t                46
boneless         41
tbs              39
g                33
inch             31
               ...
med               1
loaf              1
rashers           1
sticks            1
bowl              1
pkgs              1
kilo              1
firm              1
fillets           1
eggplants         1
in                1
fat               1
by                1
sliced            1
loins             1
mm                1
slabs             1
smashed           1
scallion          1
navel             1
few               1
once              1
scotch            1
square            1
mililiters        1
kilograms         1
nectarines        1
bulbs             1
brown             1
white             1
Name: unit, dtype: int64

In [31]:
# Numeric amount
print("Numeric amount: {}".format(df['amt_num'].value_counts().shape))
print("\nValues:\n{}".format(df['amt_num'].value_counts()))

Numeric amount: (294,)

Values:
1              3141
2              1997
               1303
1/2            1264
1/4             979
4               553
3               549
1 1/2           304
1/3             177
3/4             175
6               171
8               131
5                85
1/8              59
12               45
16               38
2/3              31
1 1/4            30
10               29
2 1/2            24
1-1/2            22
1-2              20
1.5              13
0.5              13
2-3              13
3 1/2            12
100              12
3-4              10
7                 9
1 3/4             9
               ...
2 (9              1
2 (6-             1
1 360             1
1 (3 1/2)         1
4 12              1
3 4              1
350               1
1 3 1/2 4-       1
1 &#189;          1
16 1 1/2-         1
2 20-             1
2.5-3             1
4 5-              1
3/4 3/4           1
3+                1
16 (              1
2-2 1/2           1
1/4-1/2           1
10 (6-            1
1 14.5            1
1 (4-5-           1
1 3               1
1  (2             1
1 18-             1
2 (12             1
2  8              1
3 1/4             1
2 (1              1
- 1/8             1
1 (11-            1
Name: amt_num, dtype: int64

## Clean 'Unit'

In [32]:
print("Number of unique 'unit' values:", df['unit'].value_counts().shape[0])
print("\n'unit' values:\n{}".format(df['unit'].value_counts()))

Number of unique 'unit' values: 276

'unit' values:
               2479
cup            1596
teaspoon       1282
tablespoons     838
tablespoon      774
teaspoons       387
tb              324
tsp             308
ts              287
c               279
tbsp            275
cups            257
pound           179
large           174
pounds          166
cloves          163
lb              145
oz              134
medium          129
small            98
clove            79
ounces           69
ounce            66
whole            61
lbs              52
t                46
boneless         41
tbs              39
g                33
inch             31
               ...
med               1
loaf              1
rashers           1
sticks            1
bowl              1
pkgs              1
kilo              1
firm              1
fillets           1
eggplants         1
in                1
fat               1
by                1
sliced            1
loins             1
mm                1
slabs             1
smashed           1
scallion          1
navel             1
few               1
once              1
scotch            1
square            1
mililiters        1
kilograms         1
nectarines        1
bulbs             1
brown             1
white             1
Name: unit, dtype: int64

### Lemmatize the 'unit'

In [33]:
en_nlp = spacy.load('en')

def get_clean_unit(unit):
    list_unit = [token.lemma_ for token in en_nlp(unit)]
    if len(list_unit) == 0: 
        return ''
    elif len(list_unit) > 0:
        return list_unit[0]
    
df['clean_unit'] = df['unit'].apply(get_clean_unit)

In [34]:
df['clean_unit'].value_counts()

                   2479
cup                1853
teaspoon           1669
tablespoon         1612
tb                  363
pound               345
tsp                 310
ts                  287
c                   279
tbsp                276
clove               242
lb                  197
large               174
ounce               135
oz                  134
medium              129
small                98
whole                61
t                    46
boneles              41
g                    33
inch                 31
up                   28
lg                   28
slice                27
md                   26
can                  24
green                23
each                 23
bunch                20
                   ...
m                     1
smash                 1
pack                  1
loin                  1
half                  1
mango                 1
a                     1
tomatillo             1
white                 1
pacific               1
negi                  1
romaine               1
container             1
plum                  1
bird                  1
bsp                   1
teaspooncayenne       1
sml                   1
serving               1
packet                1
kilo                  1
anchovy               1
bowl                  1
thyme                 1
thick                 1
fat                   1
brown                 1
by                    1
cucumber              1
sesame                1
Name: clean_unit, dtype: int64

In [35]:
print("Number of unique 'clean_unit' values:", df['clean_unit'].value_counts().shape[0])
print("\n'clean_unit' values:\n{}".format(df['clean_unit'].value_counts()))

Number of unique 'clean_unit' values: 227

'clean_unit' values:
                   2479
cup                1853
teaspoon           1669
tablespoon         1612
tb                  363
pound               345
tsp                 310
ts                  287
c                   279
tbsp                276
clove               242
lb                  197
large               174
ounce               135
oz                  134
medium              129
small                98
whole                61
t                    46
boneles              41
g                    33
inch                 31
up                   28
lg                   28
slice                27
md                   26
can                  24
green                23
each                 23
bunch                20
                   ...
m                     1
smash                 1
pack                  1
loin                  1
half                  1
mango                 1
a                     1
tomatillo             1
white                 1
pacific               1
negi                  1
romaine               1
container             1
plum                  1
bird                  1
bsp                   1
teaspooncayenne       1
sml                   1
serving               1
packet                1
kilo                  1
anchovy               1
bowl                  1
thyme                 1
thick                 1
fat                   1
brown                 1
by                    1
cucumber              1
sesame                1
Name: clean_unit, dtype: int64

### Make full version into abbreviated version

In [36]:
# We will also fix typo here
unit_abbr_dict = {"cup": "C", "c": "C",
                  "centimetre": "cm", 
                  "each": "ea", 
                  "inch": "in",
                  "kilo": "kg",
                  "kilo": "kilogram", "kg": "kilogram",
                  "leave": "leaf", 
                  "ounce": "oz", "once": "oz",
                  "pound": "lb", 
                  "tablespoon": "tbsp", "tb": "tbsp", "tablspoon": "tbsp", "tbl": "tbsp",
                  "teaspoon": "tsp", "t": "tsp",
                  
                  # leave the size with full version
                  "sm": "small", "md": "medium", "lg": "large"
                 }

In [37]:
def get_full_unit(unit):
    if unit in unit_abbr_dict: 
        return unit_abbr_dict[unit]
    else: 
        return unit

df['clean_unit'] = df['clean_unit'].apply(get_full_unit)

In [38]:
print("Number of unique 'clean_unit' values:", df['clean_unit'].value_counts().shape[0])
print("\n'clean_unit' values:\n{}".format(df['clean_unit'].value_counts()))

Number of unique 'clean_unit' values: 208

'clean_unit' values:
            2479
tbsp        2269
C           2132
tsp         2025
lb           542
ts           287
oz           270
clove        242
large        202
medium       155
small        109
whole         61
boneles       41
ea            41
g             33
in            32
up            28
slice         27
can           24
green         23
bunch         20
lime          19
bottle        18
to            17
red           16
pinch         16
ml            14
kilogram      14
package       14
chicken       13
            ...
chipotle       1
cocktail       1
finely         1
scotch         1
pack           1
mango          1
serving        1
half           1
sprinkle       1
teapoon        1
big            1
hot            1
fat            1
by             1
eggplant       1
negi           1
few            1
bsp            1
anchovy        1
square         1
thyme          1
thick          1
tube           1
vanilla        1
bbq            1
a              1
m              1
roast          1
good           1
bowl           1
Name: clean_unit, dtype: int64

### Inspect ingredients in the unit

In [39]:
# Why are there some ingredients in the unit? 
df[(df['unit'] == 'radishes') | (df['unit'] == 'eggplants') | (df['unit'] == 'romaine')]

,dish_id,dish_name,INGREDIENT,AMOUNT,amt_num,unit,clean_unit
197481,1158258,grilled lettuces with crme frache and avocado,lettuce,2 romaine,2,romaine,romaine
243884,1217740,bo ssm grilled pork and pickled slaw in lettuc...,grate,"6 radishes,",6,radishes,radish
264383,1279479,grilled vegetables with balsamic vinegar,bell pepper,"2 eggplants,",2,eggplants,eggplant

In [40]:
# some of these have ',' at the end. how many? 
def end_comma(match_str):
    if re.search('.+,$', match_str): 
        return 1
    else: 
        return 0

df['unit_end_comma'] = df['AMOUNT'].apply(end_comma)

In [41]:
df['unit_end_comma'].value_counts()

0    11585
1      102
Name: unit_end_comma, dtype: int64

In [42]:
df[df['unit_end_comma'] == 1]

,dish_id,dish_name,INGREDIENT,AMOUNT,amt_num,unit,clean_unit,unit_end_comma
7,561575,chicken breasts with grilled pineapple and tom...,chicken breast,"4 skinless,",4,skinless,skinles,1
60408,989783,jamaican spiced chicken thighs,chicken,"8 skinless,",8,skinless,skinles,1
60424,283460,grilled chicken with tarragon mustard marinade,chicken breast,"4 boneless,",4,boneless,boneles,1
63660,1163403,beer lime grilled chicken,beer,"1 lime,",1,lime,lime,1
63800,847200,grilled tofu steaks with piquillo salsa verde,mince,"1 shallot,",1,shallot,shallot,1
66744,1201584,honey mustard grilled chicken,chicken breast,"4 skinless,",4,skinless,skinles,1
109513,1156101,lime and pepper grilled chicken breasts,chicken breast,"4 boned,",4,boned,bone,1
116619,1185929,best grilled chicken recipe,brown sugar,"1 lime,",1,lime,lime,1
116620,1185929,best grilled chicken recipe,kosher salt,"1/2 lemon,",1/2,lemon,lemon,1
116629,1154780,bbq pork turnip noodle ramen for two,pork tenderloin,"1 scallion,",1,scallion,scallion,1
116636,1154780,bbq pork turnip noodle ramen for two,garlic,"3 scallions,",3,scallions,scallion,1
120210,1193837,grilled steak tacos with cilantro chimichurri ...,garlic,"4 smashed,",4,smashed,smash,1
120234,1193837,grilled steak tacos with cilantro chimichurri ...,vinegar,"1 1/2 limes,",1 1/2,limes,lime,1
120261,1174013,bulgogi bbq pork tacos with charred tomatillo ...,sesame oil,"6 tomatillos,",6,tomatillos,tomatillo,1
128203,1154082,veggie noodle bowl with grilled steak,sambal,"1 lime,",1,lime,lime,1
181601,1249199,teriyaki grilled chicken kabobs,red bell pepper,"8 boneless,",8,boneless,boneles,1
181616,1249991,grilled chicken with blueberry lime salsa,chicken breast,"2 bone-in,",2,bone,bone,1
181651,1230421,crispy salt and pepper grilled chicken thighs,chicken,"12 bone-in,",12,bone,bone,1
193565,1207514,lemon dijon herb crusted grilled pork tenderloin,grate,"2 lemons,",2,lemons,lemon,1
193566,1207514,lemon dijon herb crusted grilled pork tenderloin,honey,"1 lemon,",1,lemon,lemon,1
193646,1208065,honey lime grilled chicken thighs,honey,"2 limes,",2,limes,lime,1
193669,1206874,grilled lemon chicken,chicken breast,"4 skinless,",4,skinless,skinles,1
197385,1168849,the best korean bbq youve ever tasted,onion,"1 onion,",1,onion,onion,1
197440,1253337,grilled tequila lime chicken,chicken breast,"3-5 boneless,",3-5,boneless,boneles,1
197443,1253337,grilled tequila lime chicken,zest,"2 limes,",2,limes,lime,1
197444,1253337,grilled tequila lime chicken,chili powder,"1 orange,",1,orange,orange,1
197486,1158258,grilled lettuces with crme frache and avocado,lemon,"1 avocado,",1,avocado,avocado,1
207303,1360818,sticky chinese bbq pork belly ribs char siu,sherry,"1 shallot,",1,shallot,shallot,1
207318,1325740,homemade tandoori chicken,yoghurt,"2 lemons,",2,lemons,lemon,1
207325,1317655,carolina style pulled pork sandwich,brown sugar,"2 onions,",2,onions,onion,1
...,...,...,...,...,...,...,...,...
264425,1285493,marinated grilled chicken,garlic,"1 onion,",1,onion,onion,1
264443,1209014,bonfire bangers and beans,bacon,"1 onion,",1,onion,onion,1
267947,1267184,bbq pork salad with summer fruits and honey ba...,tomatoes,"2 nectarines,",2,nectarines,nectarine,1
267948,1267184,bbq pork salad with summer fruits and honey ba...,salad,"1 grapefruit,",1,grapefruit,grapefruit,1
267949,1267184,bbq pork salad with summer fruits and honey ba...,almond,"2 avocados,",2,avocados,avocado,1
267998,1239660,grilled chicken tacos,tomatillo,"2 avocados,",2,avocados,avocado,1
268004,1246007,jerk pork and pineapple skewers with black bea...,pineapple,"3 limes,",3,limes,lime,1
268028,1250954,lemon dijon grilled chicken,chicken breast,"4 skinless,",4,skinless,skinles,1
268052,1252566,cheddar jalapeo stuffed grilled chicken,black pepper,"2 limes,",2,limes,lime,1
268090,1255239,grilled jerk chicken,pepper,"2 scallions,",2,scallions,scallion,1
272727,1200415,easy teriyaki pork kabobs,onion,"1/2 ineapple,",1/2,ineapple,ineapple,1
272739,1199194,grilled lemon and rosemary chicken,arugula,"1 lemon,",1,lemon,lemon,1
272760,1248486,grilled hawaiian chicken teriyaki bowls,pineapple,"1 zucchini,",1,zucchini,zucchini,1
272805,1263565,san diego grilled chicken,zest,"2 oranges,",2,oranges,orange,1
272806,1263565,san diego grilled chicken,zest,"2 lemons,",2,lemons,lemon,1
272807,1263565,san diego grilled chicken,zest,"2 limes,",2,limes,lime,1
272812,1263565,san diego grilled chicken,chicken breast,"6 skinless,",6,skinless,skinles,1
272816,1258507,cilantro lime grilled chicken with strawberry ...,zest,"1 jalapeno,",1,jalapeno,jalapeno,1
272817,1258507,cilantro lime grilled chicken with strawberry ...,cilantro,"1 lime,",1,lime,lime,1
272821,1258507,cilantro lime grilled chicken with strawberry ...,cilantro,"2 limes,",2,limes,lime,1
272825,1255181,big ms spicy lime grilled prawns,pepper,"4 limes,",4,limes,lime,1
272832,1267444,grilled chicken sausage onion and pepper sandwich,garlic,"2 onions,",2,onions,onion,1
272855,1246950,grilled tequila portobello,garlic,"1 lime,",1,lime,lime,1
272879,1263889,marinated grilled chicken ii,chicken breast,"4 skinless,",4,skinless,skinles,1
272885,599057,cheddar dogs with cider braised leeks and apples,core,"1 apple,",1,apple,apple,1
281099,1229283,balsamic chicken and fig brochettes,chicken breast,"2 boneless,",2,boneless,boneles,1
281113,1224584,ginger soy grilled chicken recipe only 3 ingre...,chicken breast,"2 boneless,",2,boneless,boneles,1
281225,1234643,korean bulgogi bbq beef tacos,grate,"1 carrot,",1,carrot,carrot,1
281230,1234643,korean bulgogi bbq beef tacos,olive oil,"1/2 ime,",1/2,ime,ime,1
281231,1234643,korean bulgogi bbq beef tacos,salt,"1/2 alape&#241;o,",1/2,alape,alape,1

In [43]:
df[df['dish_id'] == '1234643']

,dish_id,dish_name,INGREDIENT,AMOUNT,amt_num,unit,clean_unit,unit_end_comma
281210,1234643,korean bulgogi bbq beef tacos,soy sauce,1 cup,1,cup,C,0
281211,1234643,korean bulgogi bbq beef tacos,mirin,1/2 up,1/2,up,up,0
281212,1234643,korean bulgogi bbq beef tacos,brown sugar,1/2 up,1/2,up,up,0
281213,1234643,korean bulgogi bbq beef tacos,sesame oil,2 tablespoons,2,tablespoons,tbsp,0
281214,1234643,korean bulgogi bbq beef tacos,garlic,4 cloves,4,cloves,clove,0
281215,1234643,korean bulgogi bbq beef tacos,ginger,1 teaspoons,1,teaspoons,tsp,0
281216,1234643,korean bulgogi bbq beef tacos,coriander,1 tablespoon,1,tablespoon,tbsp,0
281217,1234643,korean bulgogi bbq beef tacos,fillet,1 kg,1,kg,kilogram,0
281218,1234643,korean bulgogi bbq beef tacos,tortilla,12-14 mini,12-14,mini,mini,0
281219,1234643,korean bulgogi bbq beef tacos,soy sauce,2 tablespoons,2,tablespoons,tbsp,0
281220,1234643,korean bulgogi bbq beef tacos,lime,,,,,0
281221,1234643,korean bulgogi bbq beef tacos,mirin,1 tablespoon,1,tablespoon,tbsp,0
281222,1234643,korean bulgogi bbq beef tacos,sesame oil,2 teaspoons,2,teaspoons,tsp,0
281223,1234643,korean bulgogi bbq beef tacos,kale,1 cup,1,cup,C,0
281224,1234643,korean bulgogi bbq beef tacos,cabbage,1 cup,1,cup,C,0
281225,1234643,korean bulgogi bbq beef tacos,grate,"1 carrot,",1,carrot,carrot,1
281226,1234643,korean bulgogi bbq beef tacos,cilantro,1/4 up,1/4,up,up,0
281227,1234643,korean bulgogi bbq beef tacos,tomatoes,2 ripe,2,ripe,ripe,0
281228,1234643,korean bulgogi bbq beef tacos,coriander,1/4 up,1/4,up,up,0
281229,1234643,korean bulgogi bbq beef tacos,onion,1/2 ed,1/2,ed,ed,0
281230,1234643,korean bulgogi bbq beef tacos,olive oil,"1/2 ime,",1/2,ime,ime,1
281231,1234643,korean bulgogi bbq beef tacos,salt,"1/2 alape&#241;o,",1/2,alape,alape,1
281232,1234643,korean bulgogi bbq beef tacos,sour cream,1 tablespoon,1,tablespoon,tbsp,0
281233,1234643,korean bulgogi bbq beef tacos,lime,,,,,0

<font color = 'red'> There is something wrong with this recipe </font>

## Clean 'amt_num'

In [44]:
print("Number of unique 'amt_num' values:", df['amt_num'].value_counts().shape[0])
print("\n'amt_num' values:\n{}".format(df['amt_num'].value_counts()))

Number of unique 'amt_num' values: 294

'amt_num' values:
1              3141
2              1997
               1303
1/2            1264
1/4             979
4               553
3               549
1 1/2           304
1/3             177
3/4             175
6               171
8               131
5                85
1/8              59
12               45
16               38
2/3              31
1 1/4            30
10               29
2 1/2            24
1-1/2            22
1-2              20
1.5              13
0.5              13
2-3              13
3 1/2            12
100              12
3-4              10
7                 9
1 3/4             9
               ...
2 (9              1
2 (6-             1
1 360             1
1 (3 1/2)         1
4 12              1
3 4              1
350               1
1 3 1/2 4-       1
1 &#189;          1
16 1 1/2-         1
2 20-             1
2.5-3             1
4 5-              1
3/4 3/4           1
3+                1
16 (              1
2-2 1/2           1
1/4-1/2           1
10 (6-            1
1 14.5            1
1 (4-5-           1
1 3               1
1  (2             1
1 18-             1
2 (12             1
2  8              1
3 1/4             1
2 (1              1
- 1/8             1
1 (11-            1
Name: amt_num, dtype: int64

### Upon manual inspection, we found the numbers after "(" is not needed

In [45]:
df['clean_amt_num'] = df['amt_num'].apply(lambda x: x.split('(')[0])

In [46]:
print("Number of unique 'clean_amt_num' values:", df['clean_amt_num'].value_counts().shape[0])
print("\n'clean_amt_num' values:\n{}".format(df['clean_amt_num'].value_counts()))

Number of unique 'clean_amt_num' values: 236

'clean_amt_num' values:
1              3141
2              1997
               1303
1/2            1264
1/4             979
4               553
3               549
1 1/2           304
1/3             177
3/4             175
6               171
8               131
5                85
1/8              59
1                56
12               45
16               38
2/3              31
1 1/4            30
10               29
2 1/2            24
1-1/2            22
1-2              20
4                18
2                16
1.5              13
2-3              13
0.5              13
3 1/2            12
100              12
               ...
------            1
20-30             1
230               1
1 14.5-           1
4 4-6             1
16                1
10-12             1
14 1/2            1
5-1/4             1
1 360             1
1/4-1/2           1
- 1/8             1
3 4              1
350               1
1 3 1/2 4-       1
1 &#189;          1
2 20-             1
2.5-3             1
4 5-              1
3 1/4             1
3/4 3/4           1
3+                1
4 12              1
2-2 1/2           1
1 14.5            1
1 3               1
1 18-             1
7                 1
2  8              1
220               1
Name: clean_amt_num, dtype: int64

### Inspect values ending with '-'

In [47]:
# how many ends with '-'?
def ends_with(str_val):
    if re.match('.*-$', str_val):
        return 1
    else: 
        return 0
    
df['ends_dash'] = df['clean_amt_num'].apply(ends_with)
df[df['ends_dash'] == 1]

,dish_id,dish_name,INGREDIENT,AMOUNT,amt_num,unit,clean_unit,unit_end_comma,clean_amt_num,ends_dash
8,676784,root beer pulled pork bbq crockpot,beer,1 2-liter bottle,1 2-,liter,liter,0,1 2-,1
30,860272,grilled chicken with pineapple salsa,chicken breast,4 6-ounce,4 6-,ounce,oz,0,4 6-,1
61,158721,korean barbecued beef,steak,1 1.75-lb,1 1.75-,lb,lb,0,1 1.75-,1
3959,158898,grilled bratwurst with onions braised in beer ...,bacon,4 4-oz.,4 4-,oz,oz,0,4 4-,1
16173,158759,apricot glazed pork kabobs,apricot,1 10-ounce jar,1 10-,ounce,oz,0,1 10-,1
23280,177663,grilled beef strip steak,steak,2 1-lb steaks,2 1-,lb,lb,0,2 1-,1
29914,162236,penne gorgonzola with grilled chicken,gorgonzola,1 8-oz package,1 8-,oz,oz,0,1 8-,1
37287,159014,grilled greek style pork roast with yogurt sauce,loin,1 3-lb,1 3-,lb,lb,0,1 3-,1
40545,158696,peruvian grilled chicken thighs with tomato ci...,cilantro,1 7-oz jar,1 7-,oz,oz,0,1 7-,1
46300,167936,georges barbecue chicken kabobs,pineapple,1 20-oz can,1 20-,oz,oz,0,1 20-,1
46317,167933,grilled steak pizza with roasted red peppers a...,olive,2 25-oz cans,2 25-,oz,oz,0,2 25-,1
46334,266392,grilled chicken with mustard tarragon sauce,chicken breast,4 6-ounce,4 6-,ounce,oz,0,4 6-,1
46433,158932,herb cured grilled pork roast,loin,1 3-lb,1 3-,lb,lb,0,1 3-,1
49402,159186,santa fe salad with grilled pork tenderloin,black beans,1 15.5-oz can,1 15.5-,oz,oz,0,1 15.5-,1
49403,159186,santa fe salad with grilled pork tenderloin,corn,1 12-oz can,1 12-,oz,oz,0,1 12-,1
49404,159186,santa fe salad with grilled pork tenderloin,red pepper,1 7-oz jar,1 7-,oz,oz,0,1 7-,1
49500,158900,grilled greek style pork roast with yogurt sauce,loin,1 3-pound,1 3-,pound,lb,0,1 3-,1
49515,158912,grilled pork tenderloin with tomato salad and ...,pork tenderloin,2 1-lb,2 1-,lb,lb,0,2 1-,1
53127,158904,grilled leg of pork,pork,1 4-pound,1 4-,pound,lb,0,1 4-,1
57010,165362,teriyaki grilled chicken breast sandwiches wit...,lettuce,1 8-oz can,1 8-,oz,oz,0,1 8-,1
60316,176662,winter pork bbq,broth,1 14.5-oz can,1 14.5-,oz,oz,0,1 14.5-,1
63670,159205,southern pork barbecue sandwich,pork,1 6-pound,1 6-,pound,lb,0,1 6-,1
63681,159205,southern pork barbecue sandwich,tomatoes,2 28-oz cans,2 28-,oz,oz,0,2 28-,1
63683,159205,southern pork barbecue sandwich,ketchup,1 14-oz bottle,1 14-,oz,oz,0,1 14-,1
63741,159042,mediterranean grilled pork roast,loin,1 3-lb,1 3-,lb,lb,0,1 3-,1
66817,158913,grilled pork couscous and dried cherry salad w...,pork chops,2 4-oz,2 4-,oz,oz,0,2 4-,1
66847,159044,mediterranean pork kabobs,artichoke heart,1 6-oz jar,1 6-,oz,oz,0,1 6-,1
72992,19688,anticuchos peru,beef,1 4-lb,1 4-,lb,lb,0,1 4-,1
75519,56878,slow cooker barbecued pork and beans,beans,2 16-oz can,2 16-,oz,oz,0,2 16-,1
75522,56878,slow cooker barbecued pork and beans,barbecue sauce,1 18-oz bottle,1 18-,oz,oz,0,1 18-,1
...,...,...,...,...,...,...,...,...,...,...
141086,132673,pork and pineapple kebabs with sweet and sour ...,pineapple,1 4-pound,1 4-,pound,lb,0,1 4-,1
141130,94108,grilled hawaiian chicken,chicken breast,4 4-oz,4 4-,oz,oz,0,4 4-,1
147112,161598,merlin houskas famous bbq chicken,beer,1 12-oz can,1 12-,oz,oz,0,1 12-,1
150228,32289,barbeque spiced grilled tenderloin steaks,tenderloin,2 6-oz,2 6-,oz,oz,0,2 6-,1
157067,175269,spare ribs,vegetable oil,----------------,----------------,,,0,----------------,1
167571,31715,swordfish kabobs,pineapple,1 20-oz can,1 20-,oz,oz,0,1 20-,1
167613,93921,grilled chicken strips indian style,red wine vinegar,1 1-inch piece,1 1-,inch,in,0,1 1-,1
167668,151675,beer can chicken great on the grill,beer,1 12-oz can,1 12-,oz,oz,0,1 12-,1
178197,34238,bbq baked beef ribs,reduce,1 13-oz can,1 13-,oz,oz,0,1 13-,1
178198,34238,bbq baked beef ribs,tomato sauce,1 15-oz can,1 15-,oz,oz,0,1 15-,1
181591,1252369,bbq tri tip,garlic,1 3- lb.,1 3-,lb,lb,0,1 3-,1
193635,1213558,perfectly grilled steak,olive oil,4 1 1/4 - to-1,4 1 1/4 -,to,to,0,4 1 1/4 -,1
202274,1655206,grilled chicken and strawberries with balsamic...,chicken breast,4 5-,4 5-,,,0,4 5-,1
207271,1673073,chipotle smoked ham,ham,1 10-,1 10-,,,0,1 10-,1
212080,1350445,smoked pork butt,pork,5- pound,5-,pound,lb,0,5-,1
212128,1292261,grilled marinated chicken with tropical salsa,coconut milk,1 13.5- ounce can,1 13.5-,ounce,oz,0,1 13.5-,1
212129,1292261,grilled marinated chicken with tropical salsa,ginger,1 12- ounce can,1 12-,ounce,oz,0,1 12-,1
219845,1710908,almost famous barbecue spareribs,pork,2 4 -,2 4 -,,,0,2 4 -,1
219887,1709900,ribs with kansas city barbecue sauce,pork,2 4 -,2 4 -,,,0,2 4 -,1
239070,1739636,barbecued beef ribs with molasses bourbon sauce,molasses,1 12- ounce,1 12-,ounce,oz,0,1 12-,1
248836,1221808,grilled branzino with basil lime and ginger,basil,2 1 - pound,2 1 -,pound,lb,0,2 1 -,1
248908,1807240,spicy grilled chicken with creamy pumpkin mole...,onion,1 3-,1 3-,,,0,1 3-,1
257013,1654390,japanese farm style grilled teriyaki chicken bowl,cucumber,-------,-------,,,0,-------,1
257016,1654390,japanese farm style grilled teriyaki chicken bowl,sugar,------,------,,,0,------,1
257099,1576996,grilled pizza with grilled fennel and parmesan,pizza,3 10-,3 10-,,,0,3 10-,1
267897,1281807,eggplant yakitori,pineapple,16 1 1/2- inch,16 1 1/2-,inch,in,0,16 1 1/2-,1
267906,1265160,bbq pulled pork and coleslaw sandwiches,mayonnaise,1 14- oz,1 14-,oz,oz,0,1 14-,1
268066,1240657,cold rice noodles with grilled chicken and pea...,ginger,1 1- inch,1 1-,inch,in,0,1 1-,1
268073,1240657,cold rice noodles with grilled chicken and pea...,lemon grass,1 4- inch,1 4-,inch,in,0,1 4-,1
281132,1222537,garlic and rosemary grilled chicken with scall...,chicken,1 3 1/2 4-lb.,1 3 1/2 4-,lb,lb,0,1 3 1/2 4-,1

Looks like all of these show number of piece needed followed by the amount for each piece

In [48]:
def clean_ends_dash(row):
    if row['ends_dash'] == 1: 
        # if all -s, blank it out 
        if re.match('--+', row['clean_amt_num']): 
            row['clean_amt_num'] = ''
        elif len(row['clean_amt_num'].split(' ')) > 1:
            first_val = re.findall('(\S+)\s.*-', row['clean_amt_num'])[0]
            second_val = re.findall('\S+\s(.*)-', row['clean_amt_num'])[0]
            row['clean_amt_num'] = "{} x {}".format(first_val, second_val)
        else: 
            row['clean_amt_num'] = re.findall('(.*)-', row['clean_amt_num'])[0]
    return row

df = df.apply(clean_ends_dash, axis = 1)

In [49]:
df[df['ends_dash'] == 1]

,dish_id,dish_name,INGREDIENT,AMOUNT,amt_num,unit,clean_unit,unit_end_comma,clean_amt_num,ends_dash
8,676784,root beer pulled pork bbq crockpot,beer,1 2-liter bottle,1 2-,liter,liter,0,1 x 2,1
30,860272,grilled chicken with pineapple salsa,chicken breast,4 6-ounce,4 6-,ounce,oz,0,4 x 6,1
61,158721,korean barbecued beef,steak,1 1.75-lb,1 1.75-,lb,lb,0,1 x 1.75,1
3959,158898,grilled bratwurst with onions braised in beer ...,bacon,4 4-oz.,4 4-,oz,oz,0,4 x 4,1
16173,158759,apricot glazed pork kabobs,apricot,1 10-ounce jar,1 10-,ounce,oz,0,1 x 10,1
23280,177663,grilled beef strip steak,steak,2 1-lb steaks,2 1-,lb,lb,0,2 x 1,1
29914,162236,penne gorgonzola with grilled chicken,gorgonzola,1 8-oz package,1 8-,oz,oz,0,1 x 8,1
37287,159014,grilled greek style pork roast with yogurt sauce,loin,1 3-lb,1 3-,lb,lb,0,1 x 3,1
40545,158696,peruvian grilled chicken thighs with tomato ci...,cilantro,1 7-oz jar,1 7-,oz,oz,0,1 x 7,1
46300,167936,georges barbecue chicken kabobs,pineapple,1 20-oz can,1 20-,oz,oz,0,1 x 20,1
46317,167933,grilled steak pizza with roasted red peppers a...,olive,2 25-oz cans,2 25-,oz,oz,0,2 x 25,1
46334,266392,grilled chicken with mustard tarragon sauce,chicken breast,4 6-ounce,4 6-,ounce,oz,0,4 x 6,1
46433,158932,herb cured grilled pork roast,loin,1 3-lb,1 3-,lb,lb,0,1 x 3,1
49402,159186,santa fe salad with grilled pork tenderloin,black beans,1 15.5-oz can,1 15.5-,oz,oz,0,1 x 15.5,1
49403,159186,santa fe salad with grilled pork tenderloin,corn,1 12-oz can,1 12-,oz,oz,0,1 x 12,1
49404,159186,santa fe salad with grilled pork tenderloin,red pepper,1 7-oz jar,1 7-,oz,oz,0,1 x 7,1
49500,158900,grilled greek style pork roast with yogurt sauce,loin,1 3-pound,1 3-,pound,lb,0,1 x 3,1
49515,158912,grilled pork tenderloin with tomato salad and ...,pork tenderloin,2 1-lb,2 1-,lb,lb,0,2 x 1,1
53127,158904,grilled leg of pork,pork,1 4-pound,1 4-,pound,lb,0,1 x 4,1
57010,165362,teriyaki grilled chicken breast sandwiches wit...,lettuce,1 8-oz can,1 8-,oz,oz,0,1 x 8,1
60316,176662,winter pork bbq,broth,1 14.5-oz can,1 14.5-,oz,oz,0,1 x 14.5,1
63670,159205,southern pork barbecue sandwich,pork,1 6-pound,1 6-,pound,lb,0,1 x 6,1
63681,159205,southern pork barbecue sandwich,tomatoes,2 28-oz cans,2 28-,oz,oz,0,2 x 28,1
63683,159205,southern pork barbecue sandwich,ketchup,1 14-oz bottle,1 14-,oz,oz,0,1 x 14,1
63741,159042,mediterranean grilled pork roast,loin,1 3-lb,1 3-,lb,lb,0,1 x 3,1
66817,158913,grilled pork couscous and dried cherry salad w...,pork chops,2 4-oz,2 4-,oz,oz,0,2 x 4,1
66847,159044,mediterranean pork kabobs,artichoke heart,1 6-oz jar,1 6-,oz,oz,0,1 x 6,1
72992,19688,anticuchos peru,beef,1 4-lb,1 4-,lb,lb,0,1 x 4,1
75519,56878,slow cooker barbecued pork and beans,beans,2 16-oz can,2 16-,oz,oz,0,2 x 16,1
75522,56878,slow cooker barbecued pork and beans,barbecue sauce,1 18-oz bottle,1 18-,oz,oz,0,1 x 18,1
...,...,...,...,...,...,...,...,...,...,...
141086,132673,pork and pineapple kebabs with sweet and sour ...,pineapple,1 4-pound,1 4-,pound,lb,0,1 x 4,1
141130,94108,grilled hawaiian chicken,chicken breast,4 4-oz,4 4-,oz,oz,0,4 x 4,1
147112,161598,merlin houskas famous bbq chicken,beer,1 12-oz can,1 12-,oz,oz,0,1 x 12,1
150228,32289,barbeque spiced grilled tenderloin steaks,tenderloin,2 6-oz,2 6-,oz,oz,0,2 x 6,1
157067,175269,spare ribs,vegetable oil,----------------,----------------,,,0,,1
167571,31715,swordfish kabobs,pineapple,1 20-oz can,1 20-,oz,oz,0,1 x 20,1
167613,93921,grilled chicken strips indian style,red wine vinegar,1 1-inch piece,1 1-,inch,in,0,1 x 1,1
167668,151675,beer can chicken great on the grill,beer,1 12-oz can,1 12-,oz,oz,0,1 x 12,1
178197,34238,bbq baked beef ribs,reduce,1 13-oz can,1 13-,oz,oz,0,1 x 13,1
178198,34238,bbq baked beef ribs,tomato sauce,1 15-oz can,1 15-,oz,oz,0,1 x 15,1
181591,1252369,bbq tri tip,garlic,1 3- lb.,1 3-,lb,lb,0,1 x 3,1
193635,1213558,perfectly grilled steak,olive oil,4 1 1/4 - to-1,4 1 1/4 -,to,to,0,4 x 1 1/4,1
202274,1655206,grilled chicken and strawberries with balsamic...,chicken breast,4 5-,4 5-,,,0,4 x 5,1
207271,1673073,chipotle smoked ham,ham,1 10-,1 10-,,,0,1 x 10,1
212080,1350445,smoked pork butt,pork,5- pound,5-,pound,lb,0,5,1
212128,1292261,grilled marinated chicken with tropical salsa,coconut milk,1 13.5- ounce can,1 13.5-,ounce,oz,0,1 x 13.5,1
212129,1292261,grilled marinated chicken with tropical salsa,ginger,1 12- ounce can,1 12-,ounce,oz,0,1 x 12,1
219845,1710908,almost famous barbecue spareribs,pork,2 4 -,2 4 -,,,0,2 x 4,1
219887,1709900,ribs with kansas city barbecue sauce,pork,2 4 -,2 4 -,,,0,2 x 4,1
239070,1739636,barbecued beef ribs with molasses bourbon sauce,molasses,1 12- ounce,1 12-,ounce,oz,0,1 x 12,1
248836,1221808,grilled branzino with basil lime and ginger,basil,2 1 - pound,2 1 -,pound,lb,0,2 x 1,1
248908,1807240,spicy grilled chicken with creamy pumpkin mole...,onion,1 3-,1 3-,,,0,1 x 3,1
257013,1654390,japanese farm style grilled teriyaki chicken bowl,cucumber,-------,-------,,,0,,1
257016,1654390,japanese farm style grilled teriyaki chicken bowl,sugar,------,------,,,0,,1
257099,1576996,grilled pizza with grilled fennel and parmesan,pizza,3 10-,3 10-,,,0,3 x 10,1
267897,1281807,eggplant yakitori,pineapple,16 1 1/2- inch,16 1 1/2-,inch,in,0,16 x 1 1/2,1
267906,1265160,bbq pulled pork and coleslaw sandwiches,mayonnaise,1 14- oz,1 14-,oz,oz,0,1 x 14,1
268066,1240657,cold rice noodles with grilled chicken and pea...,ginger,1 1- inch,1 1-,inch,in,0,1 x 1,1
268073,1240657,cold rice noodles with grilled chicken and pea...,lemon grass,1 4- inch,1 4-,inch,in,0,1 x 4,1
281132,1222537,garlic and rosemary grilled chicken with scall...,chicken,1 3 1/2 4-lb.,1 3 1/2 4-,lb,lb,0,1 x 3 1/2 4,1

In [50]:
# drop the auxiliary column
df.drop('ends_dash', axis = 1, inplace = True)

In [51]:
print("Number of unique 'clean_amt_num' values:", df['clean_amt_num'].value_counts().shape[0])
print("\n'clean_amt_num' values:\n{}".format(df['clean_amt_num'].value_counts()))

Number of unique 'clean_amt_num' values: 231

'clean_amt_num' values:
1           3141
2           1997
            1309
1/2         1264
1/4          979
4            553
3            549
1 1/2        304
1/3          177
3/4          175
6            171
8            131
5             86
1/8           59
1             56
12            45
16            38
2/3           31
1 1/4         30
10            29
2 1/2         24
1-1/2         22
1-2           20
4             18
2             16
1.5           13
0.5           13
2-3           13
3 1/2         12
100           12
            ...
10 - 12        1
1 / 2          1
20-30          1
230            1
4 4-6          1
16             1
10-12          1
14 1/2         1
4 4            1
1 x 15         1
1 x 13         1
450            1
7              1
3/4 3/4        1
3+             1
4 12           1
2-2 1/2        1
1 x 15.5       1
1 14.5         1
1 3            1
2  8           1
220            1
2 x 20         1
- 1/8          1
1/4-1/2        1
1 360          1
1 x 14.5       1
5-1/4          1
10 x 10        1
2 x 25         1
Name: clean_amt_num, dtype: int64

What should we do with the range? --> for the purpose, we can probably just take the average

### Clean the cases with '-1/2'

In [52]:
# how many have '-1/2'?
def and_a_half(str_val):
    if re.match('.*-1/2', str_val):
        return 1
    else: 
        return 0
    
df['and_a_half'] = df['clean_amt_num'].apply(and_a_half)
df[df['and_a_half'] == 1]

,dish_id,dish_name,INGREDIENT,AMOUNT,amt_num,unit,clean_unit,unit_end_comma,clean_amt_num,and_a_half
19999,441163,barbecued pork sandwiches 5,broth,1-1/2 cups,1-1/2,cups,C,0,1-1/2,1
23164,441162,barbecued pork sandwiches 4,onion,1-1/2 teaspoons,1-1/2,teaspoons,tsp,0,1-1/2,1
23167,441162,barbecued pork sandwiches 4,ketchup,1-1/2 cups,1-1/2,cups,C,0,1-1/2,1
29984,281094,barbecued baby back ribs,liquid smoke,1-1/2 teaspoons,1-1/2,teaspoons,tsp,0,1-1/2,1
49445,441160,barbecued pork sandwiches 3,pepper,1-1/2 teaspoons,1-1/2,teaspoons,tsp,0,1-1/2,1
49446,441160,barbecued pork sandwiches 3,salt,2-1/2 teaspoons,2-1/2,teaspoons,tsp,0,2-1/2,1
49497,441176,barbecued pork sandwiches 2,ketchup,1-1/2 cups,1-1/2,cups,C,0,1-1/2,1
128350,293188,grilled chicken thighs and garden salsa,chicken,1-1/2 pounds,1-1/2,pounds,lb,0,1-1/2,1
147046,413439,asian grilled pork tenderloin with pineapple,kosher,1-1/2 teaspoons,1-1/2,teaspoons,tsp,0,1-1/2,1
181544,720777,grilled lemon chicken with satay dip,red wine vinegar,1-1/2 teaspoons,1-1/2,teaspoons,tsp,0,1-1/2,1
181545,720777,grilled lemon chicken with satay dip,brown sugar,1-1/2 teaspoons,1-1/2,teaspoons,tsp,0,1-1/2,1
185604,1615712,grilled jerk chicken pineapple sausage kabobs,allspice,1-1/2 teaspoons,1-1/2,teaspoons,tsp,0,1-1/2,1
185605,1615712,grilled jerk chicken pineapple sausage kabobs,italian seasoning,1-1/2 teaspoons,1-1/2,teaspoons,tsp,0,1-1/2,1
185606,1615712,grilled jerk chicken pineapple sausage kabobs,paprika,1-1/2 teaspoons,1-1/2,teaspoons,tsp,0,1-1/2,1
185610,1615712,grilled jerk chicken pineapple sausage kabobs,chili powder,1-1/2 teaspoons,1-1/2,teaspoons,tsp,0,1-1/2,1
197542,1665674,greek marinated grilled chicken tacos with eas...,chicken breast,1-1/2 lbs,1-1/2,lbs,lb,0,1-1/2,1
197588,1665710,grilled lamb tomato and halloumi skewers with ...,lamb,1-1/2 lb.,1-1/2,lb,lb,0,1-1/2,1
207219,1685340,surf and turf for two,black pepper,1-1/2 teaspoons,1-1/2,teaspoons,tsp,0,1-1/2,1
235519,1573229,grilled memphis pork tenderloin filet sandwiches,mustard,1/4-1/2 t,1/4-1/2,t,tsp,0,1/4-1/2,1
238934,1783908,grilled mustard rosemary chicken,black pepper,3-1/2,3-1/2,,,0,3-1/2,1
252720,1698978,yogurt marinated pork kebabs with cucumber lem...,lemon,3-1/2,3-1/2,,,0,3-1/2,1
252781,1673597,marinated grilled chicken with cucumber waterm...,watermelon,1-1/2 cups,1-1/2,cups,C,0,1-1/2,1
252857,1675354,cilantro lime marinated grilled chicken,chicken breast,2-1/2 lbs,2-1/2,lbs,lb,0,2-1/2,1
264470,1202704,grilled buttery chicken skewers with crazy sauce,pepper,2-1/2 lbs,2-1/2,lbs,lb,0,2-1/2,1
281100,1231650,grilled moroccan chicken,chicken breast,1-1/2 to,1-1/2,to,to,0,1-1/2,1
281264,1214216,honey lime sriracha chicken skewers,ginger,1-1/2 square,1-1/2,square,square,0,1-1/2,1
281265,1214216,honey lime sriracha chicken skewers,salt,1-1/2 tablespoons,1-1/2,tablespoons,tbsp,0,1-1/2,1
281267,1214216,honey lime sriracha chicken skewers,cilantro,2-1/2 pounds,2-1/2,pounds,lb,0,2-1/2,1
288422,1574976,pork souvlaki,pork tenderloin,1-1/2 lb,1-1/2,lb,lb,0,1-1/2,1

In [53]:
def clean_and_a_half(row):
    if row['and_a_half'] == 1: 
        # if have / before these, keep it
        if re.match('.*/.*-1/2', row['clean_amt_num']): 
            pass
        else:
            row['clean_amt_num'] = row['clean_amt_num'].replace('-', ' ')
    return row

df = df.apply(clean_and_a_half, axis = 1)

In [54]:
df[df['and_a_half'] == 1]

,dish_id,dish_name,INGREDIENT,AMOUNT,amt_num,unit,clean_unit,unit_end_comma,clean_amt_num,and_a_half
19999,441163,barbecued pork sandwiches 5,broth,1-1/2 cups,1-1/2,cups,C,0,1 1/2,1
23164,441162,barbecued pork sandwiches 4,onion,1-1/2 teaspoons,1-1/2,teaspoons,tsp,0,1 1/2,1
23167,441162,barbecued pork sandwiches 4,ketchup,1-1/2 cups,1-1/2,cups,C,0,1 1/2,1
29984,281094,barbecued baby back ribs,liquid smoke,1-1/2 teaspoons,1-1/2,teaspoons,tsp,0,1 1/2,1
49445,441160,barbecued pork sandwiches 3,pepper,1-1/2 teaspoons,1-1/2,teaspoons,tsp,0,1 1/2,1
49446,441160,barbecued pork sandwiches 3,salt,2-1/2 teaspoons,2-1/2,teaspoons,tsp,0,2 1/2,1
49497,441176,barbecued pork sandwiches 2,ketchup,1-1/2 cups,1-1/2,cups,C,0,1 1/2,1
128350,293188,grilled chicken thighs and garden salsa,chicken,1-1/2 pounds,1-1/2,pounds,lb,0,1 1/2,1
147046,413439,asian grilled pork tenderloin with pineapple,kosher,1-1/2 teaspoons,1-1/2,teaspoons,tsp,0,1 1/2,1
181544,720777,grilled lemon chicken with satay dip,red wine vinegar,1-1/2 teaspoons,1-1/2,teaspoons,tsp,0,1 1/2,1
181545,720777,grilled lemon chicken with satay dip,brown sugar,1-1/2 teaspoons,1-1/2,teaspoons,tsp,0,1 1/2,1
185604,1615712,grilled jerk chicken pineapple sausage kabobs,allspice,1-1/2 teaspoons,1-1/2,teaspoons,tsp,0,1 1/2,1
185605,1615712,grilled jerk chicken pineapple sausage kabobs,italian seasoning,1-1/2 teaspoons,1-1/2,teaspoons,tsp,0,1 1/2,1
185606,1615712,grilled jerk chicken pineapple sausage kabobs,paprika,1-1/2 teaspoons,1-1/2,teaspoons,tsp,0,1 1/2,1
185610,1615712,grilled jerk chicken pineapple sausage kabobs,chili powder,1-1/2 teaspoons,1-1/2,teaspoons,tsp,0,1 1/2,1
197542,1665674,greek marinated grilled chicken tacos with eas...,chicken breast,1-1/2 lbs,1-1/2,lbs,lb,0,1 1/2,1
197588,1665710,grilled lamb tomato and halloumi skewers with ...,lamb,1-1/2 lb.,1-1/2,lb,lb,0,1 1/2,1
207219,1685340,surf and turf for two,black pepper,1-1/2 teaspoons,1-1/2,teaspoons,tsp,0,1 1/2,1
235519,1573229,grilled memphis pork tenderloin filet sandwiches,mustard,1/4-1/2 t,1/4-1/2,t,tsp,0,1/4-1/2,1
238934,1783908,grilled mustard rosemary chicken,black pepper,3-1/2,3-1/2,,,0,3 1/2,1
252720,1698978,yogurt marinated pork kebabs with cucumber lem...,lemon,3-1/2,3-1/2,,,0,3 1/2,1
252781,1673597,marinated grilled chicken with cucumber waterm...,watermelon,1-1/2 cups,1-1/2,cups,C,0,1 1/2,1
252857,1675354,cilantro lime marinated grilled chicken,chicken breast,2-1/2 lbs,2-1/2,lbs,lb,0,2 1/2,1
264470,1202704,grilled buttery chicken skewers with crazy sauce,pepper,2-1/2 lbs,2-1/2,lbs,lb,0,2 1/2,1
281100,1231650,grilled moroccan chicken,chicken breast,1-1/2 to,1-1/2,to,to,0,1 1/2,1
281264,1214216,honey lime sriracha chicken skewers,ginger,1-1/2 square,1-1/2,square,square,0,1 1/2,1
281265,1214216,honey lime sriracha chicken skewers,salt,1-1/2 tablespoons,1-1/2,tablespoons,tbsp,0,1 1/2,1
281267,1214216,honey lime sriracha chicken skewers,cilantro,2-1/2 pounds,2-1/2,pounds,lb,0,2 1/2,1
288422,1574976,pork souvlaki,pork tenderloin,1-1/2 lb,1-1/2,lb,lb,0,1 1/2,1

In [55]:
# drop the auxiliary column
df.drop('and_a_half', axis = 1, inplace = True)

In [56]:
print("Number of unique 'clean_amt_num' values:", df['clean_amt_num'].value_counts().shape[0])
print("\n'clean_amt_num' values:\n{}".format(df['clean_amt_num'].value_counts()))

Number of unique 'clean_amt_num' values: 228

'clean_amt_num' values:
1           3141
2           1997
            1309
1/2         1264
1/4          979
4            553
3            549
1 1/2        326
1/3          177
3/4          175
6            171
8            131
5             86
1/8           59
1             56
12            45
16            38
2/3           31
1 1/4         30
10            29
2 1/2         28
1-2           20
4             18
2             16
3 1/2         14
0.5           13
2-3           13
1.5           13
100           12
3-4           10
            ...
10 - 12        1
1 / 2          1
20-30          1
230            1
4 4-6          1
16             1
10-12          1
14 1/2         1
4 4            1
1 x 15         1
1 x 13         1
450            1
7              1
3/4 3/4        1
3+             1
4 12           1
2-2 1/2        1
1 x 15.5       1
1 14.5         1
1 3            1
2  8           1
220            1
2 x 20         1
- 1/8          1
1/4-1/2        1
1 360          1
1 x 14.5       1
5-1/4          1
10 x 10        1
4 x 12         1
Name: clean_amt_num, dtype: int64

### Inspect some odd cases

In [57]:
df[df['clean_amt_num'] == '4 -6']

,dish_id,dish_name,INGREDIENT,AMOUNT,amt_num,unit,clean_unit,unit_end_comma,clean_amt_num
207330,1317655,carolina style pulled pork sandwich,cider vinegar,4 -6 lbs,4 -6,lbs,lb,0,4 -6

#### 3/4 3/4?

In [58]:
df[df['clean_amt_num'] == '3/4 3/4']

,dish_id,dish_name,INGREDIENT,AMOUNT,amt_num,unit,clean_unit,unit_end_comma,clean_amt_num
257100,1576996,grilled pizza with grilled fennel and parmesan,tomatoes,3/4 3/4 cup,3/4 3/4,cup,C,0,3/4 3/4

In [60]:
df['clean_amt_num'] = df['clean_amt_num'].replace('3/4 3/4', '3/4')

In [61]:
print("Number of unique 'clean_amt_num' values:", df['clean_amt_num'].value_counts().shape[0])
print("\n'clean_amt_num' values:\n{}".format(df['clean_amt_num'].value_counts()))

Number of unique 'clean_amt_num' values: 227

'clean_amt_num' values:
1           3141
2           1997
            1309
1/2         1264
1/4          979
4            553
3            549
1 1/2        326
1/3          177
3/4          176
6            171
8            131
5             86
1/8           59
1             56
12            45
16            38
2/3           31
1 1/4         30
10            29
2 1/2         28
1-2           20
4             18
2             16
3 1/2         14
1.5           13
0.5           13
2-3           13
100           12
3-4           10
            ...
1 / 2          1
1 x 15         1
20-30          1
230            1
4 4-6          1
16             1
10-12          1
14 1/2         1
4 4            1
2 x 25         1
1 x 13         1
2.5-3          1
2  8           1
3+             1
4 12           1
2-2 1/2        1
1 x 15.5       1
1 14.5         1
1 3            1
7              1
2 x 20         1
450            1
- 1/8          1
1/4-1/2        1
1 360          1
1 x 14.5       1
5-1/4          1
10 x 10        1
220            1
4 x 12         1
Name: clean_amt_num, dtype: int64